html {
  min-width:350px;
  min-height: 400px;
  text-align: center;
  font-size: 110%;
}

table {
  margin: auto;
  text-align: left;
  min-width: 80%;
}

tbody {
  margin: auto;
}

tr {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  cursor: pointer;
}

p {
    font-size: 90%;
}

.b {
  background-color: azure;
}

.arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
  margin-right: 6px;
}

.down {
  transform: translateY(-2px) rotate(45deg);
  -webkit-transform: translateY(-2px) rotate(45deg);
  animation: turnDown 0.5s;
}

.right {
  transform: translateY(-2px) rotate(-45deg);
  -webkit-transform: translateY(-2px) rotate(-45deg);
  animation: turnRight 0.5s;
}

@keyframes turnRight {
  0% {
    transform: translateY(-2px) rotate(45deg);
    -webkit-transform: translateY(-2px) rotate(45deg);
  }
  100% {
    transform: translateY(-2px) rotate(-45deg);
    -webkit-transform: translateY(-2px) rotate(-45deg);
  }
}

@keyframes turnDown {
    0% {
      transform: translateY(-2px) rotate(-45deg);
      -webkit-transform: translateY(-2px) rotate(-45deg);
    }
    100% {
      transform: translateY(-2px) rotate(45deg);
      -webkit-transform: translateY(-2px) rotate(45deg);
    }
  }
  