.App {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 27, 27);
  color: white;
  display: block;
  position: relative;
}

.ui {
  top: 100%;
  left: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: absolute;
  transform: translate(-100%, -100%);
  pointer-events: none;
}

.ui div {
  padding: 2%;
  margin: 7%;
  /* border: 1.5px rgba(255, 255, 255, 0.178) solid; */
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(43, 43, 43);
  transition: all 0.5s;
  pointer-events: all;
}

.add {
  border-radius: 3rem;
}

.add:hover {
  cursor: pointer;
  background-color: rgba(97, 97, 97, 0.877);
  transition: all 0.5s;
  border-radius: 1rem;
}

.add:hover img {
  opacity: 0.3;
}

.ui div img {
  transition: all 1s;
  width: 60%;
  opacity: 0.2;
}

.trash-off {
  opacity: 0;
  transform: translateY(20%);
  pointer-events: none;
}

.trash-on {
  opacity: 1;
  pointer-events: all;
  border-radius: 1rem;
}

.trash-on:hover {
  background-color: rgba(252, 96, 96, 0.719);
  border-radius: 3rem;
}

.calendar {
  width: auto;
  height: 100%;
  padding: 5%;
  overflow-y: auto;
  list-style: none;
}

.item p {
  margin: 0;
}

.item {
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 5%;
  cursor: grab;
  display: block; 
  position: relative;
}

li {
  margin-bottom: 3%;
}

.btn-primary {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.btn-primary:hover {
  background-color: #175dc5 !important;
  border-color: #175dc5 !important;
}

*::-webkit-scrollbar {
  width: 3px;
  margin-right: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(27, 27, 27);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 100px;
}

.item-over {
  display: block;
  position: absolute;
  right: 1px;
  top: 7px;
  height: 100%;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.item-over:after {
  margin: auto;
  content: '\2807';
  font-size: 25px;
  height: 100%;
}

.item:hover .item-over {
  opacity: 0.7;
  cursor: pointer;
}
